extends layout

block head
   - var active = 'index'

block content   
  .container
      .starter-template
        h1 Bienvenidos a Pizzeria Manresa
        |         
        p.lead Haga su pedido online
        include starter_carousel
    // /.container

